{
  "env": {
    "ANTHROPIC_BASE_URL": "{{ onepasswordRead "op://Chezmoi/5zekmezsxpvzmzjxwn3o3nwkv4/CLAUDE_ANTHROPIC_BASE_URL" }}",
    "ANTHROPIC_AUTH_TOKEN": "{{ onepasswordRead "op://Chezmoi/5zekmezsxpvzmzjxwn3o3nwkv4/CLAUDE_ANTHROPIC_AUTH_TOKEN" }}",
    "ANTHROPIC_CUSTOM_MODEL_OPTION": "minimax/MiniMax-M2.7",
    "ANTHROPIC_CUSTOM_MODEL_OPTION_NAME": "MiniMax M2.7"
  },
  "theme": "dark-daltonized",
  "hasCompletedOnboarding": true,
  "model": "minimax/MiniMax-M2.7"
}
