####################################################################################################
## Machine Type Detection and Configuration
####################################################################################################

{{ $machineClassInput := promptStringOnce . "machineClass" "Machine class ([p] personal / [w] work, default: personal)" }}
{{ $machineClassChoice := lower (trim $machineClassInput) }}
{{ $machineClass := "personal" }}
{{ if or (eq $machineClassChoice "w") (eq $machineClassChoice "work") }}{{ $machineClass = "work" }}{{ end }}
{{ $isLinux := eq .chezmoi.os "linux" }}
{{ $isMacOS := eq .chezmoi.os "darwin" }}
{{ $isWSL := and $isLinux (contains "microsoft" (lower .chezmoi.kernel.osrelease)) }}
{{ $platform := "linux" }}
{{ if $isMacOS }}{{ $platform = "macos" }}{{ end }}
{{ if $isWSL }}{{ $platform = "wsl2" }}{{ end }}
{{ $isPersonal := eq $machineClass "personal" }}
data:
  isPersonal: {{ $isPersonal }}
  isWork: {{ eq $machineClass "work" }}
  isLinux: {{ $isLinux }}
  isMacOS: {{ $isMacOS }}
  isWSL: {{ $isWSL }}
  machineClass: {{ $machineClass }}
  platform: {{ $platform }}
  profile: {{ $machineClass }}-{{ $platform }}


####################################################################################################
## personal-Linux
####################################################################################################

{{ $useOnePasswordServiceAccount := and $isPersonal $isLinux (not $isWSL) }}
onepassword:
  command: op
  mode: {{ if $useOnePasswordServiceAccount }}service-account{{ else }}account{{ end }}
