[user]
  name = mrdynamo
  email = mrdynamo@dynamiclab.org
{{- if and .isPersonal .isLinux (not .isWSL) }}
  signingkey = {{ onepasswordRead "op://Chezmoi/zi2cozec7lcpi7vtjntwltrzba/public key" | trim }}
{{- else }}
  signingkey = {{ onepasswordRead "op://SSH Keys/3l2u73dx2sju2cuxiajsf7iivu/public key" | trim }}
{{- end }}

[gpg]
  format = ssh

{{- if .isMacOS }}
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else if .isWSL }}
{{- $windowsUsername := (output "powershell.exe" "$env:UserName" | trim) }}
[gpg "ssh"]
  program = /mnt/c/Users/{{ $windowsUsername }}/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe
{{- end }}

{{- if .isWSL }}
[core]
  sshCommand = ssh.exe
{{- end }}

[commit]
  gpgsign = true
