[user]
  name = mrdynamo
  email = mrdynamo@dynamiclab.org
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINYeXfOCnOz6FHmaKdJGtHyvhT+FANW2FHRPYZurzZZa

[gpg]
  format = ssh

[commit]
  gpgsign = true


{{- if eq .chezmoi.os "darwin" }}
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else if and (eq .chezmoi.os "linux") (contains "microsoft" (lower .chezmoi.kernel.osrelease)) }}
{{- $windowsUsername := (output "powershell.exe" "$env:UserName" | trim) }}
[gpg "ssh"]
  program = /mnt/c/Users/{{ $windowsUsername }}/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe

[core]
  sshCommand = ssh.exe
{{- end }}
