####################################################################################################
## Common
####################################################################################################

alias chez=chezmoi

####################################################################################################
## WSL Specific
####################################################################################################

if [[ "${DOTFILES_USE_WINDOWS_SSH:-0}" == "1" ]]; then
alias ssh='ssh.exe'
alias ssh-add='ssh-add.exe'
alias op='op.exe'
fi


####################################################################################################
## Linux Specific
####################################################################################################




####################################################################################################
## MacOS Specific
####################################################################################################




####################################################################################################
## Personal Specific
####################################################################################################




####################################################################################################
## Work Specific
####################################################################################################



